# Ignores files with ending tilde
*.*~
*~

# Ignores files starting with pound symbol
\#*

# Ignores binary and compiled files (convention: executable binaries must have ".run" extension)
*.run
*.o
*.a
*.dat